@import url("_colors.css");
@import url("_fonts.css");

nav {
  width: 100vw;
  max-width: 100%;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 100vw;
  max-width: 100%;
  padding-top: 70px;
  display: flex;
  align-items: center;
}

.nav-container-logo,
.nav-main-contact-us {
  flex: 1;
  text-align: center;
}

.nav-main-links {
  flex: 3;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100%;
  list-style-type: none;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.nav-links a:hover {
  color: var(--main-blue1);
  transition: color 0.3s ease-in-out;
}

.nav-contact-button {
  background-color: var(--main-blue1);
  color: #ffffff;
  border: none;
  width: 150px;
  height: 52px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.nav-contact-button:active {
  transform: scale(0.95);
}

.hero-section {
  padding: 50px 0 50px 0;
}

.div-hero-main-container {
  width: 100vw;
  max-width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-hero-container-content {
  width: 530px;
  height: 422px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.hero-container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style-type: none;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.div-hero-container-image {
  width: 570px;
  height: 650px;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

.div-hero-container-card1,
.div-hero-container-card2 {
  width: 350px;
  height: 350px;
}

.div-hero-container-heroimg {
  width: 570px;
  height: 637px;
}

.hero-img,
.card1-img,
.card2-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.div-hero-container-card1img,
.div-hero-container-heroimg,
.div-hero-container-card2 {
  position: absolute;
}

.div-hero-container-card1 {
  margin-left: -60px;
  z-index: 2;
}

.div-hero-container-heroimg {
  z-index: 1;
}

.div-hero-container-card2 {
  top: 420px;
  left: 300px;
  z-index: 3;
}

.hero-touch-button {
  background-color: var(--main-blue1);
  color: #ffffff;
  border: none;
  width: 150px;
  height: 52px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.hero-touch-button:active {
  transform: scale(0.95);
}

.client-section {
  padding: 50px 0 50px 0;
}

.div-clients-main-container {
  width: 100vw;
  max-width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.airbnb-img,
.google-img,
.microsoft-img,
.fedex-img,
.amazon-img {
  filter: grayscale(100%);
}

.projects-section {
  padding: 50px 0 50px 0;
  width: 100vw;
  max-width: 100%;
  height: 661px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-projects-main-container {
  width: 1100px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.div-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-project-1,
.div-project-2,
.div-project-3 {
  width: 340px;
  max-width: 100%;
  height: 444px;
  background-color: #ffffff;
  position: relative;
}

.project1-img,
.project2-img,
.project3-img {
  width: 340px;
  height: 280px;
  object-fit: fill;
}

.title-text {
  font-size: var(--body-intro-24-size);
  font-weight: var(--body-intro-24-weight);
  color: var(--main-grey1);
  margin: 15px 0px 0px 25px;
}

.subtitle-text {
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
  margin: 15px 0px 0px 25px;
}

.learnmore-text {
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
  color: var(--main-blue1);
  margin: 25px;
  position: absolute;
  bottom: 0;
}

.testimonial-section {
  padding: 50px 0 50px 0;
}

.div-testimonial-main-container {
  max-width: 1320px;
  margin: 60px auto;
  height: 622px;
  background-color: var(--main-grey1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div-testimonial-memojis {
  max-width: 1185px;
  height: 498px;
  position: absolute;
}

.memoji1-img,
.memoji2-img,
.memoji3-img,
.memoji4-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  position: absolute;
}

.memoji1-img {
  top: 0;
  right: 450px;
}

.memoji2-img {
  top: 0;
  left: 450px;
}

.memoji3-img {
  bottom: 0;
  right: 450px;
}

.memoji4-img {
  bottom: 0;
  left: 450px;
}

.div-testimonial-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.h3-testimonials {
  font-size: var(--heading-h3-size);
  font-weight: var(--heading-h3-weight);
  color: #ffffff;
}

.p-testimonial {
  font-size: var(--body-intro-24-size);
  font-weight: var(--body-intro-24-weight);
  color: var(--main-yellow);
  max-width: 590px;
  text-align: center;
}

.div-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-testimonial-client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profile-name {
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
  color: var(--main-blue4);
}

.profile-work {
  font-size: var(--caption-2-size);
  font-weight: var(--caption-2-weight);
  color: #ffffff;
}

.orbit-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.services-section {
  padding: 50px 0 50px 0;
  width: 100vw;
  max-width: 100%;
  height: 661px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-services-main-container {
  width: 1100px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.div-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-services-1,
.div-services-2,
.div-services-3 {
  width: 340px;
  max-width: 100%;
  height: 380px;
  background-color: #ffffff;
  position: relative;
}

.serviceicon1-overlay,
.serviceicon2-overlay,
.serviceicon3-overlay {
  width: 80px;
  height: 80px;
  background-color: var(--main-blue4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 30px 0px 0px 25px;
}

.serviceicon1-img,
.serviceicon2-img,
.serviceicon3-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.title-text-services {
  font-size: var(--body-intro-24-size);
  font-weight: var(--body-intro-24-weight);
  color: var(--main-grey1);
  margin: 25px 0px 0px 25px;
}

.subtitle-text-services {
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
  margin: 35px 25px 0px 25px;
}

.cta-section {
  padding: 50px 0 50px 0;
}

.div-cta-main-container {
  max-width: 1320px;
  margin: 60px auto;
  height: 500px;
  background-color: var(--main-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div-cta-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.h3-cta {
  font-size: var(--heading-h3-size);
  font-weight: var(--heading-h3-weight);
}

.p-cta {
  font-size: var(--body-intro-20-size);
  font-weight: var(--body-intro-20-weight);
  text-align: center;
  color: var(--main-grey1);
}

.subscribe-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  gap: 30px;
}

.cta-input {
  width: 393px;
  height: 80px;
  border: none;
  padding: 0 20px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
  color: var(--main-grey1);
}

.cta-input:focus {
  border: var(--main-blue1) 2px solid;
  outline: none;
}

.cta-button {
  background-color: var(--main-blue1);
  color: #ffffff;
  border: none;
  width: 198px;
  height: 80px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.cta-button:active {
  transform: scale(0.95);
}

.footer {
  padding: 50px 0 50px 0;
}

.div-footer-main-container {
  max-width: 1100px;
  margin: 60px auto;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-footer-content {
  width: 260px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  width: 100px;
  height: 30px;
}

.footer-circle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.div-footer-links {
  width: 435px;
  height: 112px;
}

.ul-footer-links {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 75px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
}

.ul-footer-links a:hover {
  color: var(--main-blue1);
  transition: color 0.3s ease-in-out;
}

.footer-address {
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
}

/* Responsive design for tablets */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  nav {
    height: auto;
  }

  h1 {
    font-size: 44px;
  }

  h3 {
    font-size: 32px;
  }

  .nav-container {
    padding-top: 50px;
  }

  .nav-container-logo,
  .nav-main-contact-us {
    flex: 1;
    text-align: center;
  }

  .nav-main-links {
    flex: 3;
  }

  .nav-links {
    display: flex;
    gap: 70px;
  }

  .nav-contact-button {
    width: 120px;
    height: 45px;
  }

  .div-hero-container-content {
    width: 40%;
  }

  .div-hero-container-card2 {
    left: 250px;
  }

  .projects-section {
    padding: 40px 0;
    height: auto; 
  }

  .div-projects-main-container {
    width: 90%; 
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .div-projects {
    flex-direction: column;
    align-items: center; 
  }

  .div-project-1,
  .div-project-2,
  .div-project-3 {
    width: 100%; 
    max-width: 320px; 
    height: 400px; 
    margin-bottom: 20px; 
  }

  .project1-img,
  .project2-img,
  .project3-img {
    width: 100%; 
    height: 220px; 
    object-fit: cover;
  }

  .title-text {
    font-size: 20px; 
    margin: 10px 0 0 15px; 
  }

  .subtitle-text {
    font-size: 16px; 
    margin: 10px 0 0 15px; 
  }

  .learnmore-text {
    font-size: 16px; 
    margin: 20px;
    position: absolute;
    bottom: 0;
  }

  .div-testimonial-main-container {
    margin: 40px auto;
    padding: 20px;
    max-width: 90%;
    height: 500px;
  }

  .div-testimonial-memojis {
    max-width: 100%; 
    height: 350px; 
  }

  .memoji1-img,
  .memoji2-img,
  .memoji3-img,
  .memoji4-img {
    width: 100px;
    height: 100px;
  }

  .memoji1-img {
    top: -70px;
    right: 260px;
  }

  .memoji2-img {
    top: -70px;
    left: 260px;
  }

  .memoji3-img {
    bottom: -70px;
    right: 260px;
  }

  .memoji4-img {
    bottom: -70px;
    left: 260px;
  }

  .div-testimonial-content {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }

  .div-services-main-container {
    width: 100%;
    padding: 0 20px;
  }

  .services-section {
    padding: 40px 0;
  }

  .div-services-main-container {
    width: 90%; 
    max-width: 100%;
    height: auto;
    display: flex;
    gap: 30px; 
  }

  .div-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
  }

  .div-services-1,
  .div-services-2,
  .div-services-3 {
    width: 100%; 
    max-width: 100%;
    background-color: #ffffff;
    position: relative;
  }

  .serviceicon1-overlay,
  .serviceicon2-overlay,
  .serviceicon3-overlay {
    width: 60px; 
    height: 60px; 
    margin: 20px 0px 0px 25px; 
  }

  .serviceicon1-img,
  .serviceicon2-img,
  .serviceicon3-img {
    width: 30px; 
    height: 30px; 
  }

  .title-text-services {
    font-size: 22px;
    margin: 15px 0px 0px 25px; 
  }

  .subtitle-text-services {
    font-size: 18px;
    margin: 25px 25px 0px 25px; 
  }

  .cta-section {
    padding: 40px 0; 
  }

  .div-cta-main-container {
    max-width: 90%;
  }

  .p-cta {
    font-size: 18px; 
    text-align: center;
  }


  form {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .footer {
    padding: 50px 0;
  }

  .div-footer-main-container {
    max-width: 100%;
    margin: 40px auto;
    justify-content: space-around;
  }
}

/* Responsive or mobile */
@media (max-width: 875px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  nav {
    height: auto;
  }

  .nav-container {
    padding-top: 10px;
    flex-direction: column;
  }

  .nav-container-logo,
  .nav-main-contact-us,
  .nav-main-links {
    margin: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    padding: 0;
  }

  .nav-contact-button {
    width: 120px;
    height: 45px;
    font-size: 14px;
  }

  .div-hero-main-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-hero-container-content {
    width: 100%;
    height: auto;
    align-items: center;
    gap: 20px;
  }

  .hero-container-links {
    font-size: 14px;
  }

  .hero-h1 {
    font-size: 40px;
  }

  .div-hero-container-image {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 125px;
  }

  .div-hero-container-card1,
  .div-hero-container-card2 {
    width: 100%;
    height: 230px;
    margin-left: 0;
  }

  .div-hero-container-heroimg {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .div-hero-container-card1 {
    margin-left: -115px;
  }

  .div-hero-container-card2 {
    top: 270px;
    left: -110px;
  }

  .div-clients-main-container {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

  .projects-section {
    padding: 30px 0;
    height: auto;
  }

  .div-projects-main-container {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }

  .div-projects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .div-project-1,
  .div-project-2,
  .div-project-3 {
    width: 90%;
    height: auto;
    padding-bottom: 25px;
  }

  .project1-img,
  .project2-img,
  .project3-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .title-text {
    font-size: 20px;
    margin: 0 0 0 10px;
  }

  .subtitle-text {
    font-size: 16px;
    margin: 0 0 0 10px;
  }

  .learnmore-text {
    font-size: 14px;
    margin: 10px;
  }

  .div-testimonial-main-container {
    margin: 30px auto;
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .div-testimonial-memojis {
    height: auto;
    max-width: 100%;
  }

  .memoji1-img,
  .memoji2-img,
  .memoji3-img,
  .memoji4-img {
    width: 60px;
    height: 60px;
  }

  .memoji1-img {
    top: 110px;
    right: 110px;
  }

  .memoji2-img {
    top: 110px;
    left: 110px;
  }

  .memoji3-img {
    bottom: 110px;
    right: 110px;
  }

  .memoji4-img {
    bottom: 110px;
    left: 110px;
  }

  .h3-testimonials {
    font-size: 28px;
    text-align: center;
  }

  .p-testimonial {
    font-size: 16px;
    max-width: 90%;
  }

  .div-testimonial-client {
    flex-direction: column;
    text-align: center;
  }

  .div-profile-image {
    width: 40px;
    height: 40px;
  }

  .profile-name {
    font-size: 14px;
  }

  .profile-work {
    font-size: 14px;
  }

  .profile-name {
    font-size: 15px;
    text-align: center;
  }

  .profile-work {
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
  }

  .services-section {
    padding: 30px 0;
    height: auto;
  }

  .div-services-main-container {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }

  .div-services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .div-services-1,
  .div-services-2,
  .div-services-3 {
    width: 90%;
    height: auto;
    padding-bottom: 25px;
  }

  .serviceicon1-overlay,
  .serviceicon2-overlay,
  .serviceicon3-overlay {
    width: 50px;
    height: 50px;
    margin: 10px 0 0 10px;
  }

  .serviceicon1-img,
  .serviceicon2-img,
  .serviceicon3-img {
    width: 25px;
    height: 25px;
  }

  .title-text-services {
    font-size: 20px;
    margin: 10px 0 0 10px;
  }

  .subtitle-text-services {
    font-size: 16px;
    margin: 10px 0 0 10px;
  }

  .div-cta-main-container {
    max-width: 100%;
    height: auto;
    margin: 20px 15px;
    padding: 20px;
  }

  .div-cta-content {
    gap: 20px;
    padding: 0 15px;
  }

  .h3-cta {
    font-size: 16px;
  }

  .p-cta {
    font-size: 14px;
  }

  .cta-input {
    width: 100%;
    height: 40px;
    font-size: 15px;
  }

  .cta-input::placeholder {
    font-size: 12px;
  }

  .cta-button {
    width: 100%;
    height: 40px;
    font-size: 15px;
  }

  .div-footer-main-container {
    flex-direction: column;
    height: auto;
    padding: 0px 15px 0 15px;
  }

  .div-footer-content {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-right: 100px;
  }

  .footer-logo {
    width: 80px;
    height: 25px;
  }

  .div-footer-links {
    width: 100%;
    margin-top: 20px;
  }

  .ul-footer-links {
    gap: 35px;
    font-size: 14px;
  }

  .footer-address {
    font-size: 14px;
  }
}
