@import url("_colors.css");
@import url("_fonts.css");

nav {
  width: 100vw;
  max-width: 100%;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 100vw;
  max-width: 100%;
  padding-top: 70px;
  display: flex;
  align-items: center;
}

.nav-container-logo,
.nav-main-contact-us {
  flex: 1;
  text-align: center;
}

.nav-main-links {
  flex: 3;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100%;
  list-style-type: none;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.nav-links a:hover {
  color: var(--main-blue1);
  transition: color 0.3s ease-in-out;
}

.nav-contact-button {
  background-color: var(--main-blue1);
  color: #ffffff;
  border: none;
  width: 150px;
  height: 52px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.nav-contact-button:active {
  transform: scale(0.95);
}

.contact-section {
  padding: 50px 0 50px 0;
  width: 100vw;
  max-width: 100%;
  height: 830px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 1100px;
  max-width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}

.form-full-name,
.form-email,
.form-phone,
.form-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-full-name {
  width: 100%;
  height: 110px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-email,
.form-phone {
  width: 48%;
  height: 110px;
}

.form-message {
  width: 100%;
  height: 240px;
}

label {
  font-size: var(--body-intro-20-size);
  font-weight: var(--body-intro-20-weight);
}

input {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
  border: none;
  background-color: var(--main-grey2-opacity);
}

input:focus,
textarea:focus {
  border: var(--main-grey2) 2px solid;
  outline: none;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
  border: none;
  background-color: var(--main-grey2-opacity);
}

.form-submit-btn {
  background-color: var(--main-blue1);
  color: #ffffff;
  border: none;
  width: 1100px;
  height: 80px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-medium-weight);
}

.form-submit-btn:active {
  transform: scale(0.95);
}

.footer {
  padding: 50px 0 50px 0;
}

.div-footer-main-container {
  max-width: 1100px;
  margin: 60px auto;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-footer-content {
  width: 260px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  width: 100px;
  height: 30px;
}

.footer-circle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.div-footer-links {
  width: 435px;
  height: 112px;
}

.ul-footer-links {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 75px;
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
}

.ul-footer-links a:hover {
  color: var(--main-blue1);
  transition: color 0.3s ease-in-out;
}

.footer-address {
  font-size: var(--headline-text-size);
  font-weight: var(--headline-text-regular-weight);
}

/* Responsive design for tablets */
@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  nav {
    height: auto;
  }

  h1 {
    font-size: 44px;
  }

  h3 {
    font-size: 32px;
  }

  .nav-container {
    padding-top: 50px;
  }

  .nav-container-logo,
  .nav-main-contact-us {
    flex: 1;
    text-align: center;
  }

  .nav-main-links {
    flex: 3;
  }

  .nav-links {
    display: flex;
    gap: 70px;
  }

  .nav-contact-button {
    width: 120px;
    height: 45px;
  }

  .contact-section {
    padding: 40px 20px;
    height: auto;
  }

  .contact-container {
    width: 90%;
  }

  form {
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
  }

  .form-full-name {
    width: 100%;
    height: 100px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-email,
  .form-phone {
    width: 48%;
    height: 100px;
  }
  
  .form-message {
    width: 100%;
    height: 200px;
  }

  .form-submit-btn {
    width: 100%;
    height: 70px;
  }

  .footer {
    padding: 50px 0;
  }

  .div-footer-main-container {
    max-width: 100%;
    margin: 40px auto;
    justify-content: space-around;
  }
}

/* Responsive or mobile */
@media (max-width: 875px) {
  body {
    font-size: 15px;
  }

  nav {
    height: auto;
  }

  .nav-container {
    padding-top: 10px;
    flex-direction: column;
  }

  .nav-container-logo,
  .nav-main-contact-us,
  .nav-main-links {
    margin: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    padding: 0;
  }

  .nav-contact-button {
    width: 120px;
    height: 45px;
    font-size: 14px;
  }

  .contact-section {
    height: auto;
    padding: 30px 0;
  }

  h1 {
    font-size: 40px;
  }

  .contact-container {
    width: 90%;
  }

  form {
    flex-direction: column;
    gap: 20px;
  }

  .form-full-name,
  .form-email,
  .form-phone,
  .form-message {
    width: 100%;
    height: auto;
  }

  .form-row {
    flex-direction: column;
    gap: 20px;
  }

  input,
  textarea {
    height: 60px;
    font-size: 16px;
  }

  textarea {
    height: 150px;
  }

  .form-submit-btn {
    width: 100%;
    height: 60px;
    font-size: 16px;
  }

  .div-footer-main-container {
    flex-direction: column;
    height: auto;
    padding: 0px 15px 0 15px;
  }

  .div-footer-content {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-right: 100px;
  }

  .footer-logo {
    width: 80px;
    height: 25px;
  }

  .div-footer-links {
    width: 100%;
    margin-top: 20px;
  }

  .ul-footer-links {
    gap: 35px;
    font-size: 14px;
  }

  .footer-address {
    font-size: 14px;
  }
}
