:host {
  --main-blue1: #072ac8;
  --main-blue2: #43d2ff;
  --main-blue3: #a2d6f9;
  --main-blue4: #d1edff;

  --main-grey1: #292e47;
  --main-grey2: #6b708d;
  --main-grey3: #f2f4fc;
  --main-grey4: #ecf7ff;

  --main-yellow: #ffc600;
}
