@import url("_colors.css");
@import url("_fonts.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--main-grey3);
  font-size: 17px;
}

h1 {
  font-size: var(--heading-h1-size);
  font-weight: var(--heading-h1-weight);
  color: var(--main-grey1);
}

h2 {
  font-size: var(--heading-h2-size);
  font-weight: var(--heading-h2-weight);
  color: var(--main-grey1);
}

h3 {
  font-size: var(--heading-h3-size);
  font-weight: var(--heading-h3-weight);
  color: var(--main-grey1);
}

h4 {
  font-size: var(--heading-h4-size);
  font-weight: var(--heading-h4-weight);
  color: var(--main-grey1);
}

a {
  color: var(--text-color);
  text-decoration: none;
}
